.home-body{
    margin-top: 10vh;
}

.alert {
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
    margin: 10px;
}

.login-internal {
    margin: 5%;
}

.login-container {
    min-height: 50%;
    margin-top: 20vh;
    margin-right: 20%;
    margin-left: 20%;
}

.signin-button {
    width: auto;
    position: absolute;
    right: calc(50%-width);
}

.itemcard { 
    width: 20vw;
    height: 100vh;
    margin-top: 1vh;
}

.card-image {
    height: 40vh;
    width: 1vw;
}
