.home-body{
    margin-top: 10vh;
}
.home-info{
    margin: 35vh 5vh 0vh 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-group {
    position: relative;
}

.info-card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

.alert {
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
    margin: 10px;
}

.login-internal {
    margin: 5%;
}

.login-container {
    min-height: 50%;
    margin-top: 20vh;
    margin-right: 20%;
    margin-left: 20%;
}

.signin-button {
    width: auto;
    position: absolute;
}

.itemcard { 
    width: 20vw;
    height: 100vh;
    margin-top: 1vh;
}

.card-image {
    height: 40vh;
}

.card-reviews {
    height: 2vh;
}

.card-txt {
    height: 30vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-button {
    position: absolute;
    display: flex;
    width: auto;
    height: auto;
}

.spinner {
    position: absolute;
    margin: 50%;
}