.navibar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    max-height: 10vh;
}

.nav-text-container{
    position: relative;
}

.search-div{
    display: flex;
    width: auto;

}

.search-bar {
    display: inline-block;
  }

.search-area{
    margin-right: 10px;
}

.search-button{
    margin-right: 0;
}