.navibar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.search-bar{
    width: 30vw;
    right: 0;
}

.search-area{
    position: relative;
    left: 0;
    width: 20vw;
    height: 6vh;
}

.search-button{
    position: relative;
    right: -13vw;
    height: 6vh;
}